/* :root {
    color-scheme: #2a2a2b;
} */
body {
    background-color:#343435;
}
* {
    font-family: 'Montserrat', sans-serif;
}
h1{
    text-align: center;
    font-size: 50px;
    color: whitesmoke;
}
h3 {
    text-align:center;
    font-size: 22px;
    color: whitesmoke;

}
a {
    color: gray;
} 
p {
    margin-left: 50px;
    margin-right: 50px;
    color: whitesmoke;

}
b{
    font-weight: bolder;
}
ul {
    color: whitesmoke;
}


#vitalScorecards {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: auto auto auto;
    text-align: center;
}


.chart-parent--container {
    display: flex;
}

.chart--container {
    height: 100%;
    width: 100%;
    min-height: 400px;
}


#barChart{
    height: auto;
    width: auto;
}
/* #barChart2020{
    height: auto;
    width: auto;
    right: 1000px;
} */
.flex-container2 {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-self: center;
   
}

/* .flex-container2>div>img {
    width: auto;
} */
.flex-container2>div{
    width:50%;
}

#bracket2020 {
    width: 100%;
}
#barChart2020{
    margin-top: 10px;
    margin-left: 100px;
}

.flex-container3 {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-self: center;
   
}

.flex-container3>div{
    width:50%;
}

#bracket2019 {
    width: 100%;
}
#barChart2019{
    margin-top: 10px;
    margin-left: 100px;
}

.flex-container4 {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-self: center;
   
}
.flex-container4>div{
    width:50%;
}

.flex-container5 {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;gi
    align-self: center;
   
}

.btnCon {
    display: inline-block;
    text-align: center;
    width: 100%;
    justify-content: center;
    color: whitesmoke;
    font-size: 14px;

}


.buttons button.active {
background-color: #0051B4;
color: white;
}
